<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Python Flask Bucket List App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/services.css" rel="stylesheet">
    <script src="../static/js/services.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">George Russell Pruitt</h3>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/Services">Services</a></li>
   	        <li role="presentation"><a href="/About">About Me</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1>How Can I Help You?</h1>
        <p>My biggest skill above all I am about to list is problem solving, years in the IoT industry have allowed me vision. Whether its software engineering, automation, commercial or private web bots, network engineering, data consolidation, performance optimization, project management, or even online marketing.</p>
      </div>

      <footer class="footer">
        <p>&copy; Copyright 2017</p>
      </footer>

    </div>
  </body>
</html>
